div#user {
  div#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    form {
      button.follows {
        background: var(--color-highlight-secondary);
      }
    }
  }

  p#stats {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  margin-bottom: 2em;
}