@import "../components/navbar.scss";

div.flash {
  --flash-main-color: lightgray;
  --flash-secondary-color: gray;

  max-width: 100%;
  padding: 10px;
  margin: 10px var(--page-margin);

  background: var(--flash-main-color);
  border: 3px solid var(--flash-secondary-color);
  border-radius: 4px;

  &.success {
    --flash-main-color: lightgreen;
    --flash-secondary-color: green;
  }
}
