@import "../mixins/button.scss";

form#sort {
  display: flex;
  flex-direction: row;

  $option-margin: 5px;
  margin-left: -$option-margin;
  margin-bottom: 20px;

  button.option {
    @include main-button;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 $option-margin;
    background: var(--color-highlight-secondary);
    border-radius: 40px;

    &.sorted-by {
      background: var(--color-highlight);
    }
  }
}